:root {
  --debug-outline: 0px;
  --foreground-colour: rgb(255, 255, 255);
  --background-colour: rgb(48, 48, 48);
  --font-size: 16px;
  --font-family: monospace, sans-serif;
  --font-weight: 400;
  --scrollbar-slider: rgb(84, 93, 103);
  --scrollbar-gutter: transparent;
  --scrollbar-colour: var(--scrollbar-slider) var(--scrollbar-gutter);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: auto;
  background-color: var(--background-colour);
  color: var(--foreground-colour);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  scrollbar-color: var(--scrollbar-colour);
  box-shadow: inset 0 0 0 var(--debug-outline) var(--foreground-colour);
}

#page {
  height: 100%;
  width: 100%;
  padding: 16px;
  position: relative;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.active {
  filter: brightness(1.5) !important;
}

/* ! ====================================================== ! */

#central-container {
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

.rail {
  height: 32px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  /* POSTIT GAP */
  gap: 4px;
  /* box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2); */
}

.rail-button {
  height: 24px;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  /* border-radius: 24px; */
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.tab {
  width: auto;
  height: 24px;
  line-height: 24px;
  max-width: 164px;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  padding: 0px 16px 0px 16px;
  background-color: rgb(60, 60, 60);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ! ====================================================== ! */

.editor {
  /* padding: 10px; */
  height: 80%;
  background-color: var(--background-colour);
  /* border: 1px solid #ccc; */
}

textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  color: aliceblue;
  background-color: var(--background-colour);
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea::placeholder {
  color: #888;
  font-size: 16px;
  opacity: 1;
}

/* ! ====================================================== !
! DataTable Styles
! ====================================================== ! */

#table-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 18px 18px 0 0;
  overflow: hidden;
  /* background-color: red; */
}

/* Table styles */
.data-table {
  width: 100%;
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 14px;
  min-width: 400px;
  margin: 0px;
  position: relative;
  /* border-radius: 16px 16px 0 0; */
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-family: 'Courier New', Courier, monospace;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.data-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.data-table th,
.data-table td {
  padding: 12px 15px;
  text-align: center;
}

/* Ensure th elements are relative for absolute positioning of resizer */
.data-table th {
  position: relative;
}

.data-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

/* .data-table tbody tr:nth-of-type(even) {
  background-color: rgba(101, 101, 101, 0.5);
} */

.data-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.data-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* Resizer Styles */
.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 4px;
  cursor: col-resize;
  user-select: none;
  /* z-index: 1; */
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s;
}

.resizer:hover,
.resizer.resizing {
  background-color: rgba(255, 255, 255, 0.6);
}


/* ! ====================================================== !
! 
! ====================================================== ! */